.body {
  background: gray;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
}

.header {
  color: white;
  max-width: 30vh;
  margin-left: auto;
  margin-right: auto;
}

.main {
  width: 70vh;
  height: 86vh;
  overflow-x: hidden;
  border: solid 0.5vh white;
  margin-left: auto;
  margin-right: auto;
  scroll-margin: 0;
}

.carousel {
  display: flex;
  max-width: 50vh;
  height: 4vh;
  margin-top: 0vw;
  margin-left: 60vw;
  background-color: gray;
}

.image-text {
  height: 3vh;
  width: 3vh;
  cursor: pointer;
  background: aqua;
  transition: all 1s ease;
  border: solid 2vh gray;
  border-radius: 50%;
}

.image-text:hover {
  background: antiquewhite;
  /*filter: brightness(50%);*/
}

.carousel1,
.carousel2,
.carousel3,
.carousel4,
.carousel5,
.carousel6 {
  display: none;
}

.foto1,
.foto2,
.foto3,
.foto4,
.foto5,
.foto6 {
  height: 100%;
  width: calc(1 / 6 * 100%);
  transition: all 1s ease;
}

.foto-wrapper {
  width: 600%;
  height: 70vh;
  display: flex;
}

.foto,
.text {
  width: 70vh;
  height: 70vh;
}

.carousel1:checked ~ .visible {
  margin-left: 0%;
}

.carousel2:checked ~ .visible {
  margin-left: calc(-1 / 6 * 100%);
}

.carousel3:checked ~ .visible {
  margin-left: calc(-2 / 6 * 100%);
}

.carousel4:checked ~ .visible {
  margin-left: calc(-3 / 6 * 100%);
}

.carousel5:checked ~ .visible {
  margin-left: calc(-4 / 6 * 100%);
}

.carousel6:checked ~ .visible {
  margin-left: calc(-5 / 6 * 100%);
}

.text {
  height: 10vh;
  text-align: center;
  color: white;
  margin-top: 5vh;
}

@media (max-width: 900px) {
  .carousel {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 700px) {
  .main {
    width: 70vw;
    height: 86vw;
  }

  .foto {
    width: 70vw;
    height: 70vw;
  }

  .foto-wrapper {
    height: 70vw;
  }

  .text {
    height: 10vw;
    margin-top: 5vw;
    text-align: left;
    margin-left: 15vw;
  }
}
